<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dude</title>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <h2>Favorite Foods:</h2>
    <ul>
      {{ #favoriteFoods }}
      <li>{{ . }}</li>
      {{ /favoriteFoods }}
    </ul>
  </body>
</html>
