<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <h1>{{name}}</h1>
    <ul>
      {{#books}}
      <h2>{{title}}</h2>
    <ul>
      <li>{{publicationDate}}</li>
      <li>{{author}}</li>
    </ul>
      {{/books}}

    </ul>
  </body>
</html>
