<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>President</title>
  </head>
  <body>
    <h1>President</h1>
    <p>The first name is {{ firstName }} and the last name is {{ lastName }}.</p>
  </body>
</html>
